/* TYPE SELECTORS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0f4334;
    text-align: center;
    background-color: rgb(250, 235, 195);
    margin: 0;
}

h1 {
    font-size: 600%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-family: 'kiddosy';
    text-shadow: #12512578 2px 2px 4px;
    font-size: 150%;
}

h1, h2 {
    text-shadow: #12512578 2px 2px 4px;
    font-family: 'orientalcats';
}

h1,
h2,
h3 {
    color: #0d3d32;
    margin: 5px;
}

p {
    font-size: 80%;
    line-height: 1.5;
    padding: 10px;
}

q {
    color: #107566;
    font-style: italic;
}

a {
    color: #0e644f;
    text-decoration: none;
}

figcaption {
    display: block;
    font-size: 0.6em;
    color: #2c2c2c;
    text-align: center;
    padding-top: .25em;
}

/* ID SELECTORS */

#mainheader {
    background-image: linear-gradient(to bottom, #12512578, rgb(250, 235, 195, 0.527));
    margin-top: 0;
    padding-top: 10px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin: 0;
    padding-right: 40px;
    /* Add space on the right side */
    background-color: #ffffff;
    border: 2px solid #0e644f;
    overflow-wrap: break-word;
    word-break: break-word;
}

/* CLASS SELECTOR */
.header {
    background-image: linear-gradient(to bottom, #12512578, rgb(250, 235, 195, 0.527));
    padding: 10px;
    border-bottom: 2px solid #7f7e7e;
}

.footer {
    background-color: #12512578;
    padding: 10px;
    border-radius: 8px;
    border-top: 2px solid #7f7e7e;
    margin-top: 20px;
}


/*Cat Illustration Text for Page Breaks*/

.cat-line {
    font-family: 'meowscript';
    font-size: 2.5em;
    color: #0d3d32;
    margin: 0;
}

/* YOUTUBE VIDEOS */

.tutorialvideo {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    height: 100%;
    margin: auto;
}

/* MAIN PAGE IMAGES */

.mainpageimg {
    display: flex;
    align-self: center;
    width: 90%;
    height: 100%;
    min-width: 300px;
    border-radius: 8px;
    border: 2px solid #0e644f;
    margin: auto;
}

/* RELATIONAL SELECTORS */
.main>p {
    text-align: center;
    border: thickoutset #0e644f;
    padding: 10px;
}

.header>p {
    text-align: center;
    font-size: .8em;
    color: #0d3d32;
    max-width: 800px;
    margin: 10px auto;
}

/* NAVIGATION BAR */
.navigation {
    background-color: #12512578;
    text-align: center;
    max-height: 200px;
    margin-top: 0;
}

.navigation a {
    background-color: transparent;
    color: #f0f8ff;
    text-shadow: #242424 2px 2px 4px;
    text-decoration: none;
    border: none;
    font-size: 110%;
    margin: 15px;
    transition: all 0.3s ease;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.subnavtn {
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: #f0f8ff;
    padding: 0;
    margin: 5px;
    font-size: 1em;
    align-self: center;
}

.navigationcurrentpage {
    background-color: #f0f8ff6f;
    color: #0e644f;
    text-shadow: #a3a2a2 2px 2px 4px;
    border: none;
    border-radius: 8px;
    margin: -5px;
    font-size: 1em;
    padding: 0px;
}

.navigation a:hover,
.subnavbtn:hover .subnavbtn {
    background-color: #f0f8ff;
    color: #0e644f;
    text-shadow: #a3a2a2 2px 2px 4px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.subnav-content {
    background-color: #f0f8ff8e;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 40px;
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
    top: 100%;
    /* flex-direction: column; */
    text-align: center;
}

.subnav-content a {
    background-color: transparent;
    color: #0e644f;
    text-decoration: none;
    display: block;
    width: 120%;
    border-radius: 8px;
    border: none;
    font-size: 0.8em;
    padding: 1px 10px;
    margin-left: -6px;
}

.subnav-content a:hover {
    background-color: #12512578;
    color: #f0f8ff;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

.subnavtn:hover .subnav-content {
    display: block;
}

/* SCROLLING GALLERY CONTAINER */

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#galleryheader {
    font-family: 'kiddosy';
    font-size: 200%;
    color: #0d3d32;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

div.scroll-container {
  background-color:  #0f4334;
  overflow: hidden; /* Changed to hidden to prevent scrollbars */
  white-space: nowrap;
  padding: 10px;
  max-height: 400px; /* Set a max height for the scrollable area */
}

.scroll-container:hover .gallery-slide {
    animation-play-state: paused; /* Pause the animation when you hover */
}

.gallery-slide {
    animation: scroll 20s linear infinite; /* Continuous scrolling effect */
    display: inline-block;
}

div.scroll-container img {
  padding: 10px;
  max-height: 300px; /* Set a max height for the images */
}

div.scroll-container figcaption {
    font-size: 0.8em;
    text-shadow: #242424;
    color: #ffffff;
    text-align: center;
}